.l-contatos {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.c-contatos {
  width: 100%;
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.c-contatos__card {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 -1px 12px hsla(0, 63%, 15%, 0.15);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.c-contatos__img {
  width: 3rem;
}
.c-contatos__btn {
    border-radius: .5rem;
    width: 8rem;
    height: 2.5rem;
    background-image: linear-gradient(
    to right,
    #6695f2,
    #3d6cfa,
    #6695f2,
    #3d6cfa
  );
  box-shadow: 0 5px 15px rgba(2, 90, 253, 0.4);

  color: #f8f8f8;
  font-size: 1rem;
  font-family: inherit;

}

.c-contatos__card:hover{
    transform: translateY(-0.25rem);
    transition: 0.3s;
}
@media (max-width: 768px) {
  .c-contatos {
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
  }

  .c-contatos__img {
    width: 15rem;
  }
}
