* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
}
body {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  background-color: #f4f4f4;
}
img {
  width: 100%;
}

.c-main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.c-section {
  width: 100%;
  background-color: #f8f8f8;
  padding: 0 2rem 10rem;

  color: #2b2f32;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.c-section img {
  border-radius: 1rem;
  max-width: 520px;
}
h1 {
  font-size: 3rem;
  text-align: center;
  color: #2b2f32;
}

h2 {
  color: #3d6cfa;
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
.c-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.c-section {
}
.c-section ul,
ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  font-weight: 500;
}
.dicas{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  
}
.dicas li {
  font-weight: 300;
}
.c-section li,
p {
  font-size: 1.15rem;
}
