@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background-image: linear-gradient(to right, #272727, #3586ff);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    
  }
  
  .menu,
  .list,
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
  }
  
  .list {
    list-style: none;
    gap: 1rem;
    font-weight: 600;
  }
  
  .list li {
    cursor: pointer;
    font-size: 0.85rem;
  }
  
  .list li:hover {
    color: #408cfb;
  }
  
  /*---- Aqui começa a estilização do HAMBURGUER MENU ----*/
  
  .hamburger-menu {
    display: none;
    margin-top: -1rem;
    margin-right: 1.5rem;
  }
  
  #menu__toogle {
    opacity: 0;
  }
  
  #menu__toogle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toogle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  
  #menu__toogle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toogle:checked ~ .menu__box {
    left: 0 !important;
  }
  
  .menu__btn {
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #000;
    transition-duration: 0.25s;
  }
  
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #2b2f32;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
    font-size: 1.5rem;
  }
  
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  
  .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 1.5rem;
  }
  
  .icon__menu {
    width: 1.75rem;
  }
  
  .menu__btn {
    margin-top: 1rem;
  }

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text h1{
    font-size: 3rem;
    color: #f35626;
    font-weight: 700;
    letter-spacing: 2px;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite;
}

@-webkit-keyframes hue{
    from{
        -webkit-filter: hue-rotate(0deg);
    }

    to{
        -webkit-filter: hue-rotate(-360deg);
    }
}

.content{
    width: 75%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.dev-1{
    width: 15rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    background-image: linear-gradient(
        to right,
        #6695f2,
        #3d6cfa,
        #6695f2,
        #3d6cfa
      );
      box-shadow: 0 5px 15px black;
    border-radius: 10px;
}

.dev-1 .dev{
    width: 11rem;
    border-radius: 50%;
}

.dev-1 h1{
    font-size: 1.5rem;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

svg{
    fill: #000;
    scale: 1.25;
    cursor: pointer;
}

svg:hover{
    fill: #fff;
}

  @media (max-width: 900px) {
    footer{
        margin-top: 32rem;
    }
}

  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
}

@media (max-width: 680px){
    .text h1{
        font-size: 2rem;
    }
}

@media (max-width: 430px){
    .text h1{
        font-size: 1.5rem;
    }
}

@media (max-width: 400px){
    footer{
        margin-top: 35rem;
    }
}

@media (max-width: 280px){
    .text h1{
        font-size: 1.25rem;
    }
}
