
.c-float {
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: inherit;
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0);
  }
  .icon-float {
    position: relative;
    bottom: 1rem;
    right: 1em;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .tooltip {
    position: absolute;
    top: 0;
    font-size: 13px;
    font-weight: 300;
    font-family: inherit;
    background: #fff;
    color: #fff;
    padding: 5px 9px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .icon-float:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .c-mensage{
    margin-top: 9px;
    font-size: 2rem;
    color: #3d6cfa;
    z-index: 20005;
    

  }
  .icon-float:hover span,
  .icon-float:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .icon-float .facebook:hover,
  .icon-float.facebook:hover .tooltip,
  .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  