@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
}
body {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}
img {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
}

.menu,
.list,
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1rem;
}

.list {
  list-style: none;
  gap: 1rem;
  font-weight: 600;
}

.list li {
  cursor: pointer;
  font-size: 0.85rem;
}

.list li:hover {
  color: #408cfb;
}

/*---- Aqui começa a estilização do HAMBURGUER MENU ----*/

.hamburger-menu {
  display: none;
  margin-top: -1rem;
  margin-right: 1.5rem;
}

#menu__toogle {
  opacity: 0;
}

#menu__toogle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toogle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toogle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toogle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #000;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #2b2f32;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  font-size: 1.5rem;
}

.menu__item:hover {
  background-color: #cfd8dc;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1.5rem;
}

.icon__menu {
  width: 1.75rem;
}

.menu__btn {
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}
