@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #408cfb;
}

.menu,
.list,
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}

.list{
    list-style: none;
    gap: 1rem;
    font-weight: 600;
}

.list li{
    cursor: pointer;
    font-size: 0.85rem;
}

.list li:hover{
    color: #fff;
}


/*---- Aqui começa a estilização do HAMBURGUER MENU ----*/

.hamburger-menu{
    display: none;
    margin-top: -1rem;
    margin-right: 1.5rem;
}

#menu__toogle{
    opacity: 0;
}

#menu__toogle:checked + .menu__btn > span{
    transform: rotate(45deg);
}

#menu__toogle:checked + .menu__btn  > span::before{
    top: 0;
    transform: rotate(0deg);
}

#menu__toogle:checked + .menu__btn > span::after{
    top: 0;
    transform: rotate(90deg);
}

#menu__toogle:checked ~ .menu__box{
    left: 0 !important;
}

.menu__btn{
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #000;
    transition-duration: .25s;
}

.menu__btn > span::before{
    content: '';
    top: -8px;
}

.menu__btn > span::after{
    content: '';
    top: 8px;
}

.menu__box{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item{
    display: block;
    padding: 12px 24px;
    color: #2b2f32;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    font-size: 1.5rem;
}

.menu__item:hover{
    background-color: #cfd8dc;
}


.icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 1.5rem;
}

.icon__menu{
    width: 1.75rem;
}

.menu__btn{
    margin-top: 1rem;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content-text-left{
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-text-left h1{
    font-size: 3rem;
    color: #2b2f32;
    margin: 1rem;
    line-height: -0.8rem;
}

.content-text-left span{
    color: #408cfb;
}

.content-text-left p{
    font-size: 0.9rem;
    margin: 1rem;
}

.content-img-right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-img-right img{
    width: 50rem;
}

/*---- Aqui termina a estilização do HAMBURGUER MENU ----*/

/*---- AQUI COMEÇA A RESPONSIVIDADE DO SITE ----*/

@media (max-width: 1214px){
    .content-text-left{
        width: 50%;
    }
    .content-img-right{
        width: 50%;
    }
}

@media (max-width: 996px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8rem;
        margin-top: 5rem;
    }

    .content-text-left{
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: flex-start;
    }

    .content-text-left h1{
        font-size: 3rem;
    }

    .content-img-right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-img-right img{
        width: 45rem;
    }
}

@media (max-width: 915px){
    .container{
        margin-top: 12rem;
        gap: 13rem;
    }
}

@media (max-width: 767px){
    .menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .container{
        width: 100%;
        height: 100vh;
        gap: 12rem;
        margin-top: 13rem;
    }

    .content-text-left h1{
        font-size: 3rem;
    }

    .content-img-right img{
        width: 40rem;
    }
}

@media (max-width: 480px){
    .container{
        margin-top: -5rem;
        gap: 1rem;
    }
    
    .content-text-left h1{
        font-size: 2rem;
    }

    .content-img-right img{
        width: 25rem;
    }
}

@media (max-width: 280px){
    .container{
        gap: 5rem;
        margin-top: 2rem;
    }

    .content-text-left{
        gap: 0.5rem;
    }

    .content-text-left h1{
        font-size: 1.5rem;
    }

    .content-img-right img{
        width: 20rem;
    }
}
