* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-decoration: none;
}
.float {
  position: fixed;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  background-color: #25d366;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;

  font-size: 2rem;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  bottom: 2rem;
  right: 2rem;
}

.my-float {
  color: #fff;
  text-decoration: none;
}
.c-slider {
  width: 100%;
  padding: 1.5rem 1rem 1.5rem 6rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 1.57rem;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.c-slider__card {
  flex: 0 0 20%;
  height: 15rem;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  border-radius: 1.5rem;
  

  border-radius: 51px;
  background: #f8f8f8;
  box-shadow: 5px 5px 10px #c1c1c1, -5px -5px 10px #ffffff;
  scroll-snap-align: start;
}
.c-slider__card:hover {
  
  background: #f8f8f8;
  box-shadow: inset 5px 5px 10px #b3b3b3, inset -5px -5px 10px #ffffff;
}
@media (max-width: 1050px) {
  .c-slider__card {
    flex: 0 0 23%;
  }
}
@media (max-width: 1000px) {
  .c-slider__card {
    flex: 0 0 25%;
  }
}
@media (max-width: 768px) {
  .c-slider__card {
    flex: 0 0 13rem;
  }
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f7f6;
}

.menu,
.list,
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}

.list{
    list-style: none;
    gap: 1rem;
    font-weight: 600;
}

.list li{
    cursor: pointer;
    font-size: 0.85rem;
}

.list li:hover{
    color: #7000bf;
}


/*---- Aqui começa a estilização do HAMBURGUER MENU ----*/

.hamburger-menu{
    display: none;
    margin-top: -1rem;
    margin-right: 1.5rem;
}

#menu__toogle{
    opacity: 0;
}

#menu__toogle:checked + .menu__btn > span{
    transform: rotate(45deg);
}

#menu__toogle:checked + .menu__btn  > span::before{
    top: 0;
    transform: rotate(0deg);
}

#menu__toogle:checked + .menu__btn > span::after{
    top: 0;
    transform: rotate(90deg);
}

#menu__toogle:checked ~ .menu__box{
    left: 0 !important;
}

.menu__btn{
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn > span::before{
    content: '';
    top: -8px;
}

.menu__btn > span::after{
    content: '';
    top: 8px;
}

.menu__box{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item{
    display: block;
    padding: 12px 24px;
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    font-size: 1.5rem;
}

.menu__item:hover{
    background-color: #cfd8dc;
}


.icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 1.5rem;
}

.icon__menu{
    width: 1.75rem;
}

.menu__btn{
    margin-top: 1rem;
}

/*---- Aqui termina a estilização do HAMBURGUER MENU ----*/

/*---- AQUI COMEÇA A RESPONSIVIDADE DO SITE ----*/

@mdia (max-width: 1050px) {
  .c-slider__card {
    flex: 0 0 23%;
  }
}
@media (max-width: 1000px) {
  .c-slider__card {
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 767px){
    .menu{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }
  
  .c-slider__card {
    flex: 0 0 13rem;
  }
}
